* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: white;
  ;
}

main {
  margin-top: 60px;
}

#profile-pic {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-bottom: 15px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 3px solid white;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
  margin-top: 50px;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  text-align: center;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

h3 {
  font-weight: 400;
}

.about {
  max-width: 50%;
  margin-top: 20px;
  line-height: 1.7;
}

p {
  color: rgb(74, 74, 74);
}

h2 {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: rgb(238, 238, 238);
  border-bottom-left-radius: 0px;
}

h2:hover {
  background-color: rgb(215, 215, 215);
  border-bottom-left-radius: 5px;
}

.projects-container {
  padding: 50px 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.projects-container a {
  text-decoration: none;
  padding: 20px 5px;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  background-color: rgb(53, 107, 254);
  color: white;
  flex: 0 0 25%;
  text-align: center;
  transition: all 0.5s ease;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.projects-container a:hover {
  background-color: rgb(39, 95, 248);
  border-bottom-left-radius: 5px;
  transform: translateY(1.7px) scale(1.05);
}

.projects-container a:active {
  background-color: rgb(58, 110, 250);
}

.contact-container {
  background-color: white;
  height: 17vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa {
  padding: 15px;
  font-size: 40px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 4px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-whatsapp {
  background: #25D366;
  color: white;
}

.copy-right {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 10vh;
  background-color: rgb(53, 107, 254);
  text-align: center;
  color: white;
}

.skills-container {
  max-width: 450px;
  margin: auto;
  padding: 20px 0;
}

.skill-top {
  display: flex;
  justify-content: space-between;
}

.skill {
  margin-bottom: 10px;
}

.progress {
  width: 100%;
  height: 8px;
  background: #ddd;
  border-radius: 20px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  background: rgb(53, 107, 254);
  border-radius: 20px;
  animation: fill 2s ease forwards;
}

/* Set percentages */
.html {
  width: 90%;
}

.css {
  width: 75%;
}

.js {
  width: 40%;
}

@keyframes fill {
  from {
    width: 0;
  }
}

hr {
  width: 300px;
  height: 4px;
  background: rgb(53, 107, 254);
  border: none;
  border-radius: 50%;
  margin: 20px auto;
}

@keyframes growLine {
  from {
    width: 0;
  }

  to {
    width: 300px;
  }
}

.line1-anim {
  animation: growLine 1s ease 0.4s forwards;
}

.line2-anim {
  animation: growLine 1s ease 0.6s forwards;
}

.line3-anim {
  animation: growLine 1s ease 0.8s forwards;
}

/* Animations */
.anim {
  opacity: 0;
  transform: translateY(30px);
  animation: moveup 0.5s linear forwards;
}

.home-container.anim {
  animation-delay: 0.4s;
}

section div.anim {
  animation-delay: 0.2s;
}

h1.anim {
  animation-delay: 0.3s;
}

h3.anim {
  animation-delay: 0.3s;
}

.about.anim {
  animation-delay: 0.4s;
}

.skills-container.anim {
  animation-delay: 0.6s;
}

.projects-container.anim {
  animation-delay: 0.8s;
}

.contact-container.anim {
  animation-delay: 1s;
}

.copy-right.anim {
  animation-delay: 1s;
}

@keyframes moveup {
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/*media querie for mobile*/
@media (max-width: 600px) {
  main {
    margin-top: 40px;
  }

  #profile-pic {
    width: 200px;
    height: 200px;
  }

  h1 {
    font-size: 1.9em;
    margin-bottom: 12px;
  }

  .about {
    max-width: 95%;
    margin-top: 20px;
    line-height: 1.6;
  }

  .skills-container {
    height: 18vh;
    gap: 15px;
    max-width: 300px;
    margin: auto;
    padding: 20px 0;
  }

  h2 {
    padding: 3px 7px;
    font-size: 20px;
  }

  .projects-container {
    padding: 30px 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .projects-container a {
    padding: 15px 10px;
  }

  .contact-container {
    height: 10vh;
  }

  .fa {
    padding: 12px;
    font-size: 33px;
    width: 43px;
    margin: 0px 5px;
  }

  .copy-right {
    height: 7vh;
    font-size: 13px;
  }

  hr {
    width: 200px;
  }

  @keyframes growLine {
    from {
      width: 0;
    }

    to {
      width: 200px;
    }
  }
}

/*media querie for tablet*/
@media (max-width: 800px) {
  main {
    margin-top: 40px;
  }

  #profile-pic {
    width: 200px;
    height: 200px;
    background-position: top;
  }

  h1 {
    font-size: 1.9em;
    margin-bottom: 12px;
  }

  .about {
    max-width: 95%;
    margin-top: 20px;
    line-height: 1.6;
  }

  .skills-container {
    height: 18vh;
    gap: 15px;
  }

  h2 {
    padding: 3px 7px;
    font-size: 20px;
  }

  .projects-container {
    padding: 30px 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .projects-container a {
    padding: 15px 10px;
  }

  .contact-container {
    height: 10vh;
  }

  .fa {
    padding: 12px;
    font-size: 33px;
    width: 43px;
    margin: 0px 5px;
  }

  .copy-right {
    height: 7vh;
    font-size: 13px;
  }
}
