nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.2);
  padding: 13px 10px;
  position: fixed;
  top: 15px;
  left: 13%;
  right: 13%;
  z-index: 1000;
  border-radius: 35px;
  padding-right: 20px;
}

#logo {
  width: 150px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: transparent;
}

.anim {
  animation-delay: 0.2s;
}

nav a {
  text-decoration: none;
  color: white;
  background-color: rgb(53, 107, 254);
  padding: 6px 10px;
  border-radius: 4px;
  transition: all 0.3s ease;
  margin-right: 5px;
}

nav a:hover {
  background-color: rgb(39, 95, 248);
}

nav a:active {
  background-color: rgb(58, 110, 250);
}

ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

.anim {
  opacity: 0;
  transform: translateY(30px);
  animation: moveup 0.5s linear forwards;
}

nav.anim {
  animation-delay: 0.1s;
}

@keyframes moveup {
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media (max-width: 600px) {
  nav {
    padding: 9px;
    padding: 6px 12px;
    right: 40px;
    left: 40px;
  }

  nav a {
    padding: 3px 5px;
    font-size: 12px;
  }
}

@media (max-width: 800px) {
  nav {
    padding: 6px 12px;
    right: 40px;
    left: 40px;
  }

  nav a {
    padding: 3px 5px;
    font-size: 12px;
    margin-right: 0px;
  }
}
