nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f6f6f6;
  padding: 20px 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

#logo {
  width: 150px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: transparent;
}

.anim {
  animation-delay: 0.2s;
}

nav a {
  text-decoration: none;
  color: white;
  background-color: rgb(53, 107, 254);
  padding: 6px 10px;
  border-radius: 4px;
  border-bottom-left-radius: 0px;
  transition: all 0.3s ease;
}

nav a:hover {
  background-color: rgb(39, 95, 248);
  border-bottom-left-radius: 4px;
}

nav a:active {
  background-color: rgb(58, 110, 250);
}

ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

.anim {
  opacity: 0;
  transform: translateY(30px);
  animation: moveup 0.5s linear forwards;
}

nav.anim {
  animation-delay: 0.1s;
}

@keyframes moveup {
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media (max-width: 600px) {
  nav {
    padding: 15px;
  }

  nav a {
    padding: 3px 6px;
    font-size: 12px;
  }
}

@media (max-width: 800px) {
  nav {
    padding: 15px;
  }

  nav a {
    padding: 4px 6px;
    font-size: 12px;
  }
}
